@font-face {
	font-family: 'gromlicons';
	src:url('fonts/gromlicons.eot?-yd4ona');
	src:url('fonts/gromlicons.eot?#iefix-yd4ona') format('embedded-opentype'),
		url('fonts/gromlicons.woff?-yd4ona') format('woff'),
		url('fonts/gromlicons.ttf?-yd4ona') format('truetype'),
		url('fonts/gromlicons.svg?-yd4ona#gromlicons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon_"], [class*=" icon_"] {
	font-family: 'gromlicons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon_align-center:before {
	content: "\e600";
}

.icon_align-justify:before {
	content: "\e601";
}

.icon_align-left:before {
	content: "\e602";
}

.icon_align-right:before {
	content: "\e603";
}

.icon_arrow-left:before {
	content: "\e605";
}

.icon_arrow-right:before {
	content: "\e606";
}

.icon_arrow-up:before {
	content: "\e607";
}

.icon_bell:before {
	content: "\e608";
}

.icon_bold:before {
	content: "\e609";
}

.icon_book:before {
	content: "\e60a";
}

.icon_brush:before {
	content: "\e60b";
}

.icon_bug:before {
	content: "\e60c";
}

.icon_check:before {
	content: "\e60d";
}

.icon_circle-check:before {
	content: "\e60e";
}

.icon_circle-minus:before {
	content: "\e60f";
}

.icon_circle-plus:before {
	content: "\e610";
}

.icon_circle-times:before {
	content: "\e611";
}

.icon_clipboard:before {
	content: "\e612";
}

.icon_clock:before {
	content: "\e613";
}

.icon_code:before {
	content: "\e614";
}

.icon_coffee:before {
	content: "\e615";
}

.icon_color:before {
	content: "\e616";
}

.icon_contract:before {
	content: "\e617";
}

.icon_copy:before {
	content: "\e618";
}

.icon_desktop:before {
	content: "\e619";
}

.icon_download:before {
	content: "\e61a";
}

.icon_el:before {
	content: "\e61b";
}

.icon_ellipsis-h:before {
	content: "\e61c";
}

.icon_eraser:before {
	content: "\e61d";
}

.icon_expand-1:before {
	content: "\e61e";
}

.icon_expand-2:before {
	content: "\e61f";
}

.icon_expand-d:before {
	content: "\e620";
}

.icon_expand-h:before {
	content: "\e621";
}

.icon_expand-v:before {
	content: "\e622";
}

.icon_eye:before {
	content: "\e623";
}

.icon_file:before {
	content: "\e624";
}

.icon_file-code:before {
	content: "\e625";
}

.icon_files:before {
	content: "\e626";
}

.icon_flask:before {
	content: "\e627";
}

.icon_folder:before {
	content: "\e628";
}

.icon_folder-o:before {
	content: "\e629";
}

.icon_form:before {
	content: "\e62a";
}

.icon_game:before {
	content: "\e62b";
}

.icon_gear:before {
	content: "\e62c";
}

.icon_glasses:before {
	content: "\e62d";
}

.icon_graph:before {
	content: "\e62e";
}

.icon_grid-1:before {
	content: "\e62f";
}

.icon_grid-2:before {
	content: "\e630";
}

.icon_group:before {
	content: "\e631";
}

.icon_hashtag:before {
	content: "\e632";
}

.icon_heart:before {
	content: "\e633";
}

.icon_image:before {
	content: "\e634";
}

.icon_info:before {
	content: "\e635";
}

.icon_italic:before {
	content: "\e636";
}

.icon_jacob:before {
	content: "\e637";
}

.icon_layout:before {
	content: "\e638";
}

.icon_link:before {
	content: "\e639";
}

.icon_list-bulleted:before {
	content: "\e63a";
}

.icon_list-numbered:before {
	content: "\e63b";
}

.icon_lock:before {
	content: "\e63c";
}

.icon_menu:before {
	content: "\e63d";
}

.icon_minus:before {
	content: "\e63e";
}

.icon_moon:before {
	content: "\e63f";
}

.icon_phone:before {
	content: "\e640";
}

.icon_phone-landscape:before {
	content: "\e641";
}

.icon_plus:before {
	content: "\e642";
}

.icon_pop-out:before {
	content: "\e643";
}

.icon_puzzle:before {
	content: "\e644";
}

.icon_question:before {
	content: "\e645";
}

.icon_refresh:before {
	content: "\e646";
}

.icon_scissors:before {
	content: "\e647";
}

.icon_search:before {
	content: "\e648";
}

.icon_skull:before {
	content: "\e649";
}

.icon_square-check:before {
	content: "\e64a";
}

.icon_square-minus:before {
	content: "\e64b";
}

.icon_square-plus:before {
	content: "\e64c";
}

.icon_square-times:before {
	content: "\e64d";
}

.icon_stack:before {
	content: "\e64e";
}

.icon_strikethrough:before {
	content: "\e64f";
}

.icon_subscript:before {
	content: "\e650";
}

.icon_sun:before {
	content: "\e651";
}

.icon_superscript:before {
	content: "\e652";
}

.icon_tablet:before {
	content: "\e653";
}

.icon_times:before {
	content: "\e654";
}

.icon_trash:before {
	content: "\e655";
}

.icon_underline:before {
	content: "\e656";
}

.icon_upload:before {
	content: "\e657";
}

.icon_user:before {
	content: "\e658";
}

.icon_warning:before {
	content: "\e659";
}

.icon_arrow-down:before {
	content: "\e604";
}

