@font-face {
	font-family: 'gromlicons';
	src:url('fonts/gromlicons.eot?-yd4ona');
	src:url('fonts/gromlicons.eot?#iefix-yd4ona') format('embedded-opentype'),
		url('fonts/gromlicons.woff?-yd4ona') format('woff'),
		url('fonts/gromlicons.ttf?-yd4ona') format('truetype'),
		url('fonts/gromlicons.svg?-yd4ona#gromlicons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="g-"], [class*=" g-"] {
	font-family: 'gromlicons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.g-s_align-center:before {
	content: "\e600";
}

.g-s_align-justify:before {
	content: "\e601";
}

.g-s_align-left:before {
	content: "\e602";
}

.g-s_align-right:before {
	content: "\e603";
}

.g-s_arrow-left:before {
	content: "\e605";
}

.g-s_arrow-right:before {
	content: "\e606";
}

.g-s_arrow-up:before {
	content: "\e607";
}

.g-s_bell:before {
	content: "\e608";
}

.g-s_bold:before {
	content: "\e609";
}

.g-s_book:before {
	content: "\e60a";
}

.g-s_brush:before {
	content: "\e60b";
}

.g-s_bug:before {
	content: "\e60c";
}

.g-s_check:before {
	content: "\e60d";
}

.g-s_circle-check:before {
	content: "\e60e";
}

.g-s_circle-minus:before {
	content: "\e60f";
}

.g-s_circle-plus:before {
	content: "\e610";
}

.g-s_circle-times:before {
	content: "\e611";
}

.g-s_clipboard:before {
	content: "\e612";
}

.g-s_clock:before {
	content: "\e613";
}

.g-s_code:before {
	content: "\e614";
}

.g-s_coffee:before {
	content: "\e615";
}

.g-s_color:before {
	content: "\e616";
}

.g-s_contract:before {
	content: "\e617";
}

.g-s_copy:before {
	content: "\e618";
}

.g-s_desktop:before {
	content: "\e619";
}

.g-s_download:before {
	content: "\e61a";
}

.g-s_el:before {
	content: "\e61b";
}

.g-s_ellipsis-h:before {
	content: "\e61c";
}

.g-s_eraser:before {
	content: "\e61d";
}

.g-s_expand-1:before {
	content: "\e61e";
}

.g-s_expand-2:before {
	content: "\e61f";
}

.g-s_expand-d:before {
	content: "\e620";
}

.g-s_expand-h:before {
	content: "\e621";
}

.g-s_expand-v:before {
	content: "\e622";
}

.g-s_eye:before {
	content: "\e623";
}

.g-s_file:before {
	content: "\e624";
}

.g-s_file-code:before {
	content: "\e625";
}

.g-s_files:before {
	content: "\e626";
}

.g-s_flask:before {
	content: "\e627";
}

.g-s_folder:before {
	content: "\e628";
}

.g-s_folder-o:before {
	content: "\e629";
}

.g-s_form:before {
	content: "\e62a";
}

.g-s_game:before {
	content: "\e62b";
}

.g-s_gear:before {
	content: "\e62c";
}

.g-s_glasses:before {
	content: "\e62d";
}

.g-s_graph:before {
	content: "\e62e";
}

.g-s_grid-1:before {
	content: "\e62f";
}

.g-s_grid-2:before {
	content: "\e630";
}

.g-s_group:before {
	content: "\e631";
}

.g-s_hashtag:before {
	content: "\e632";
}

.g-s_heart:before {
	content: "\e633";
}

.g-s_image:before {
	content: "\e634";
}

.g-s_info:before {
	content: "\e635";
}

.g-s_italic:before {
	content: "\e636";
}

.g-s_jacob:before {
	content: "\e637";
}

.g-s_layout:before {
	content: "\e638";
}

.g-s_link:before {
	content: "\e639";
}

.g-s_list-bulleted:before {
	content: "\e63a";
}

.g-s_list-numbered:before {
	content: "\e63b";
}

.g-s_lock:before {
	content: "\e63c";
}

.g-s_menu:before {
	content: "\e63d";
}

.g-s_minus:before {
	content: "\e63e";
}

.g-s_moon:before {
	content: "\e63f";
}

.g-s_phone:before {
	content: "\e640";
}

.g-s_phone-landscape:before {
	content: "\e641";
}

.g-s_plus:before {
	content: "\e642";
}

.g-s_pop-out:before {
	content: "\e643";
}

.g-s_puzzle:before {
	content: "\e644";
}

.g-s_question:before {
	content: "\e645";
}

.g-s_refresh:before {
	content: "\e646";
}

.g-s_scissors:before {
	content: "\e647";
}

.g-s_search:before {
	content: "\e648";
}

.g-s_skull:before {
	content: "\e649";
}

.g-s_square-check:before {
	content: "\e64a";
}

.g-s_square-minus:before {
	content: "\e64b";
}

.g-s_square-plus:before {
	content: "\e64c";
}

.g-s_square-times:before {
	content: "\e64d";
}

.g-s_stack:before {
	content: "\e64e";
}

.g-s_strikethrough:before {
	content: "\e64f";
}

.g-s_subscript:before {
	content: "\e650";
}

.g-s_sun:before {
	content: "\e651";
}

.g-s_superscript:before {
	content: "\e652";
}

.g-s_tablet:before {
	content: "\e653";
}

.g-s_times:before {
	content: "\e654";
}

.g-s_trash:before {
	content: "\e655";
}

.g-s_underline:before {
	content: "\e656";
}

.g-s_upload:before {
	content: "\e657";
}

.g-s_user:before {
	content: "\e658";
}

.g-s_warning:before {
	content: "\e659";
}

.g-s_arrow-down:before {
	content: "\e604";
}

